**{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: #204E4A;
}

.app{
    background: #fff;
    width: 90%;
    max-width: 500px;
    margin: 100PX auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    font-size: 25px;
    font-size: 600;
    color: #001e4d;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;

}

.quiz{
    padding: 20px 0;

}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}


.btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #fff;
    color: #222;
    font-weight: 600; 
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #222;
    text-align: left;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    width: 150px;
    margin: 20px auto 0;
    padding: 10px;
    background: #001e4d;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    display: none;

}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff8484;
}